<form class="js-register form-modal">
    <h2>Please register</h2>

    <input required autofocus type="text" class="input-block-level"
        name="username" placeholder="Username" />

    <input required type="password" class="input-block-level"
        name="password" placeholder="Password" />

    <input required type="password" class="input-block-level"
        name="nickname" placeholder="Nickname" />

    <div class="row">
        <button class="span btn btn-primary" type="submit">Register</button>

        <a href="#!/sign-in.html" class="span btn pull-right">
            <i class="icon-user"></i> Sign in
        </a>
    </div>
</form>

<script src="scripts/RegisterController.js"></script>
