<form class="js-login form-modal">
    <h2>Please sign in</h2>

    <input required autofocus type="text" class="input-block-level"
        name="username" placeholder="Username" />

    <input required type="password" class="input-block-level"
        name="password" placeholder="Password" />

    <div class="row">
        <button class="span btn btn-primary" type="submit">Sign in</button>

        <a href="#!/register.html" class="span btn pull-right">
            <i class="icon-user"></i> Register
        </a>
    </div>
</form>

<script src="scripts/LoginController.js"></script>
