body { background: #ccecff; }
ul, li {
	margin: 0;
	padding: 0;
}
a:visited { color: #999; }

nav ul {
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
}


article dt, .italic { font-style: italic; }