<div class="game" tabindex="0" data-ui-keydown="{
     'left': 'goBackwards    ($event)',
    'right': 'goForward      ($event)',
       'up': 'fps.increase   ($event)',
     'down': 'fps.decrease   ($event)',
    'space': 'playPause      ($event)',
         75: 'towers.goUp()',
         74: 'towers.goDown()',
         76: 'towers.goRight()',
         72: 'towers.goLeft()'
  }">

    <!-- KEYBOARD SHORTCUTS -->
    <div class="alert alert-info">
        <strong>Клавиши:</strong>

        <ul class="inline">
            <li><code><i class="icon-arrow-left"  title="Стрелка наляво"></i></code>  Назад</li>
            <li><code><i class="icon-arrow-right" title="Стрелка надясно"></i></code> Напред</li>
            <li><code><i class="icon-arrow-up"    title="Стрелка нагоре"></i></code>  Забързай</li>
            <li><code><i class="icon-arrow-down"  title="Стрелка надолу"></i></code>  Забави</li>
            <li><code>SPACE</code> {{ !autoplay && 'Старт' || 'Пауза' }}</li>
            <li data-ng-show="towers.hasScrollbars()">
                <strong>VIM:</strong> <code>J/K</code> Надолу / нагоре
            </li>
            <li data-ng-show="towers.hasScrollbars()">
                <code>H/L</code> Наляво / надясно
            </li>
        </ul>
    </div>

    <div class="row">
        <!-- TOWERS -->
        <section class="towers pull-right span8">
            <!-- STATS -->
            <div class="row">
                <h2 class="pull-left span">Кули</h2>

                <div class="pull-right span muted">
                    <ul class="inline">
                        <li title="Краен резултат: {{ result }}">
                            Резултат:
                            <span class="badge">{{ currentResult }}</span>
                        </li>
                        <li>Размер:
                            <span class="badge">{{ field.length }}</span>
                        </li>
                        <li data-ng-show="towers.hasScrollbars()">
                            Колони:
                            <span class="badge" data-ng-class="towers.scrollingCol && 'badge-inverse'">
                                {{ towers._col + 1 }}-{{ towers._col + towers.count }}
                            </span>
                        </li>
                        <li data-ng-show="towers.hasScrollbars()">
                            Редове:
                            <span class="badge" data-ng-class="towers.scrollingRow && 'badge-inverse'">
                                {{ towers._row + 1 }}-{{ towers._row + towers.count }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- SLIDERS -->
            <form data-ng-show="towers.hasScrollbars()">
                <label for="label-row" class="hide-text">Мести редове</label>
                <input type="range" id="label-row" min="0" max="{{ field.length - towers.count }}"
                  data-ng-model="towers.row" data-ng-disabled="moving" class="vertical" />

                <label for="label-col" class="hide-text">Мести колони</label>
                <input type="range" id="label-col" min="0" max="{{ field.length - towers.count }}"
                  data-ng-model="towers.col" data-ng-disabled="moving" />
            </form>

            <!-- TOWERS -->
            <table class="table table-bordered" data-ng-style="makeVendorPrefixes({
                'transition-duration': getDelay() + 'ms'
              })" data-ng-class="!towers.hasScrollbars() && 'not-scrolled' || towers.scrollingMove && 'blurred'">
                <tr data-ng-repeat="row in towers.field">
                    <td data-ng-repeat="cell in row" data-ng-class="cell.value > 999 && 'small'">
                        <span data-ng-class="cell.type" data-ng-style="makeVendorPrefixes({
                            'transition-duration': getDelay() + 'ms',
                            'animation': cell.type && flashing &&
                              (getDelay(2) + 'ms flash '+ getDelay() + 'ms') || 'none'
                        })">
                            {{ !(cell.value > 0) && '0' || cell.value }}
                      </span>
                    </td>
                </tr>
            </table>
        </section>

        <!-- CONTROLS -->
        <aside class="controls pull-left span4">
            <h2>Инструменти</h2>

            <form class="form-horizontal">
                <!-- START/STOP -->
                <div class="control-group">
                    <div>
                        <button class="btn btn-success btn-block btn-large" data-ng-disabled="!canGoForward()"
                          data-ng-hide="autoplay || !getRemaining()" data-ng-click="playPause()" >
                            Старт <i class="icon-play icon-white"></i>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-danger btn-block btn-large" data-ng-show="autoplay"
                          data-ng-click="playPause()">
                            Пауза <i class="icon-pause icon-white"></i>
                        </button>
                    </div>
                    <div>
                        <a href="#/" class="btn btn-inverse btn-block btn-large" data-ng-hide="getRemaining()">
                            Нова игра <i class="icon-repeat icon-white"></i>
                        </a>
                    </div>
                </div>

                <!-- FORWARD/BACKWARDS -->
                <div class="control-group row">
                    <div class="span2">
                        <button class="btn btn-info btn-block" data-ng-click="goBackwards()"
                          data-ng-disabled="!canGoBackwards()">
                            <i class="icon-chevron-left icon-white"></i> Предишен ход
                        </button>
                    </div>
                    <div class="span2">
                        <button class="btn btn-primary btn-block" data-ng-click="goForward()"
                          data-ng-disabled="!canGoForward()">
                            Следващ ход <i class="icon-chevron-right icon-white"></i>
                        </button>
                    </div>
                </div>

                <!-- FPS -->
                <h4>
                    Скорост на анимацията
                    <small>
                        {{ fps.current == fps.max && '&infin;' || fps.current }}
                        <abbr title="Frames per Second" class="initialism">FPS</abbr>
                    </small>
                </h4>
                <input type="range" class="span4" min="{{ fps.min }}" max="{{ fps.max }}" step="{{ fps.step }}"
                  data-ng-model="fps.current" />
            </form>

            <!-- PROGRESS -->
            <h4>Прогрес на играта <small>{{ currentAnimation }}/{{ totalAnimations }}</small></h4>
            <div class="progress progress-striped progress-warning" data-ng-class="{ 'active': moving }">
                <div class="bar" style="width: {{ 100 * currentAnimation / totalAnimations }}%"></div>
            </div>

            <!-- MOVES LOG -->
            <h4>Ходове <small>{{ currentState }}/{{ getTotal() }}</small></h4>
            <div class="well">
                <dl data-ng-repeat="state in [currentState - 1, currentState, currentState + 1]"
                  data-ng-show="!(state < 0) && state < getTotal()">
                    <dt data-ng-class="{ muted: state != currentState }">
                        Ход {{ state + 1 }}
                        <i class="icon-thumbs-up" data-ng-show="queue[state].length > 4"></i>
                        <i class="icon-exclamation-sign" data-ng-show="queue[state][0].move.delta == 0"></i>
                    </dt>

                    <dd data-ng-repeat="move in queue[state]">
                        <code class="label" data-ng-class="state == currentState &&
                          ({ true: 'label-warning', false: 'label-inverse' }[$index == currentSubState])">
                            На кула {{ move.point.x + 1 }}:{{ move.point.y + 1 }}
                            {{ move.delta > 0 && 'прибавяме' || 'махаме' }}
                            {{ move.delta > 0 && move.delta || -move.delta }}
                            {{ (move.delta == -1 || move.delta == 1) && 'кубче' || 'кубчета'}}.
                        </code>
                    </dd>
                </dl>
            </div>
        </aside>
    </div>
</div>
