{ "asi"           : true
, "browser"       : true
, "camelcase"     : true
, "devel"         : true
, "eqeqeq"        : true
, "eqnull"        : true
, "evil"          : true
, "expr"          : true
, "lastsemic"     : true
, "laxcomma"      : true
, "maxcomplexity" : 10
, "maxdepth"      : 4
, "maxparams"     : 4
, "maxstatements" : 20
, "quotmark"      : "single"
, "regexdash"     : true
, "sub"           : true
, "unused"        : true
, "wsh"           : true
}
