body, hgroup, h2, h3, p {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 100%;
}

body { font-family: Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif; }

p {
    margin-bottom: 10px;
    line-height: 18px;
}

.box-yellow {
    border: 1px solid #FFFF92;
    background: #FFFFDB;
}

#wrapper { margin: 15px; }

#wrapper > div {
    float: left;
    padding: 10px 5px 0;
    width: 130px;
    border: 2px solid #D6D6D6;
    background: 5px 10px no-repeat;
}

#wrapper > div + div { margin-left: -2px; } /* Stick borders */

#wrapper a {
    display: block;
    color: #C72D2F;
    text-decoration: none;
    font-size: 17px;
}

#wrapper hgroup {
    margin-bottom: 15px;
    padding-left: 40px;
}

#wrapper h2 { margin-top: 1em; }
#wrapper h3 + h2 { margin-top: 0; }

/* BOXES */
#wrapper > div:nth-child(1) {
    padding-bottom: 40px;
    background-image: url(../images/install.png);
}

#wrapper > div:nth-child(2) {
    background-image: url(../images/tune-up.png);
}

#wrapper > div:nth-child(3) {
    background-image: url(../images/manage.png);
}

#wrapper > div:nth-child(4) {
    padding-bottom: 15px;
    background-image: url(../images/open-source.png);
}

#wrapper > div:nth-child(5) {
    padding-bottom: 25px;
    background-image: url(../images/twitter.png);
}

#wrapper > div:nth-child(6) {
    background-image: url(../images/about.png);
}
