/* line 11, ../../styles/style.sass */
body, ul, li, dl, dt, dd, h1, h2, p {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 17, ../../styles/style.sass */
body {
  font: 16px;
  color: white;
  background: #9215f2 fixed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d593ff), color-stop(165px, #8f19ef), color-stop(100%, #9215f2));
  background-image: -webkit-linear-gradient(#d593ff 0%, #8f19ef 165px, #9215f2 100%);
  background-image: -moz-linear-gradient(#d593ff 0%, #8f19ef 165px, #9215f2 100%);
  background-image: -o-linear-gradient(#d593ff 0%, #8f19ef 165px, #9215f2 100%);
  background-image: linear-gradient(#d593ff 0%, #8f19ef 165px, #9215f2 100%);
}

/* line 23, ../../styles/style.sass */
a {
  color: #d0a3f7;
  text-decoration: none;
}
/* line 27, ../../styles/style.sass */
a:hover {
  text-decoration: underline;
}

/* line 30, ../../styles/style.sass */
input, .btn {
  border: 1px solid #603382;
  border-radius: 10px;
  background: #b35ef3;
}

/* line 35, ../../styles/style.sass */
label,
[type="submit"] {
  cursor: pointer;
}

/* line 40, ../../styles/style.sass */
.code {
  font-family: Consolas, monospace;
}

/* line 45, ../../styles/style.sass */
.clearfix:after, .inline:after, .menu-horizontal:after, .dl-inline:after, .form-horizontal:after, .row:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 51, ../../styles/style.sass */
.unstyled, .styled, .inline, .menu-horizontal, .menu ul, .menu-horizontal ul {
  list-style: none;
}

/* line 57, ../../styles/style.sass */
.styled li {
  background: url(../images/li-dot.png) 0 4px no-repeat;
  padding-left: 30px;
}

/* line 65, ../../styles/style.sass */
.inline > li, .menu-horizontal > li {
  float: left;
}
/* line 68, ../../styles/style.sass */
.inline > li:not(:last-child), .menu-horizontal > li:not(:last-child) {
  margin-right: 10px;
}

/* line 74, ../../styles/style.sass */
.dl-inline dt, .form-horizontal dt {
  float: left;
  text-align: right;
  width: 62px;
}
/* line 79, ../../styles/style.sass */
.dl-inline dd, .form-horizontal dd {
  margin-left: 72px;
}

/* line 83, ../../styles/style.sass */
.row {
  margin-left: -10px;
}

/* line 87, ../../styles/style.sass */
.span, .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9 {
  float: left;
  margin-left: 10px;
}

/* line 96, ../../styles/style.sass */
.span1 {
  width: 72px;
}

/* line 96, ../../styles/style.sass */
.span2 {
  width: 154px;
}

/* line 96, ../../styles/style.sass */
.span3 {
  width: 236px;
}

/* line 96, ../../styles/style.sass */
.span4 {
  width: 318px;
}

/* line 96, ../../styles/style.sass */
.span5 {
  width: 400px;
}

/* line 96, ../../styles/style.sass */
.span6 {
  width: 482px;
}

/* line 96, ../../styles/style.sass */
.span7 {
  width: 564px;
}

/* line 96, ../../styles/style.sass */
.span8 {
  width: 646px;
}

/* line 96, ../../styles/style.sass */
.span9 {
  width: 728px;
}

/* line 100, ../../styles/style.sass */
.container {
  width: 810px;
}

/* line 103, ../../styles/style.sass */
.container {
  margin: 10px auto;
}

/* line 107, ../../styles/style.sass */
.box, .menu, .menu-horizontal, .menu ul, .menu-horizontal ul {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/* line 113, ../../styles/style.sass */
.box h1, .menu h1, .menu-horizontal h1, .menu-horizontal ul h1,
.box h2,
.menu h2,
.menu-horizontal h2,
.menu-horizontal ul h2,
.box p:not(:last-child),
.menu p:not(:last-child),
.menu-horizontal p:not(:last-child) {
  margin-bottom: 10px;
}

/* line 118, ../../styles/style.sass */
.box footer, .menu footer, .menu-horizontal footer, .menu-horizontal ul footer {
  text-align: right;
}

/* line 121, ../../styles/style.sass */
.box-white, .menu ul, .menu-horizontal ul {
  background: white;
}
/* line 124, ../../styles/style.sass */
.box-white, .menu ul, .menu-horizontal ul,
.box-white a,
.menu ul a,
.menu-horizontal ul a {
  color: black;
}

/* line 130, ../../styles/style.sass */
.form, .form-horizontal,
.form dl,
.form-horizontal dl {
  margin-bottom: 10px;
}

/* line 138, ../../styles/style.sass */
.btn {
  border-top-color: white;
  border-left-color: white;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
}

/* line 148, ../../styles/style.sass */
.menu a, .menu-horizontal a {
  color: white;
}
/* line 155, ../../styles/style.sass */
.menu ul, .menu-horizontal ul {
  position: absolute;
  display: none;
}
/* line 161, ../../styles/style.sass */
.menu li:hover ul, .menu-horizontal li:hover ul {
  display: block;
}
/* line 164, ../../styles/style.sass */
.menu ul li:not(:last-child), .menu-horizontal ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* line 172, ../../styles/style.sass */
.global-footer {
  text-align: center;
}
