/* line 14, ../../styles/style.sass */
body, ul, li {
  margin: 0;
  padding: 0;
}

/* line 18, ../../styles/style.sass */
img {
  border: 0;
}

/* line 22, ../../styles/style.sass */
.inline, .gallery {
  overflow: hidden;
  list-style: none;
}
/* line 26, ../../styles/style.sass */
.inline li, .gallery li {
  float: left;
}

/* line 30, ../../styles/style.sass */
.gallery {
  width: 854px;
  height: 627.75px;
  position: relative;
  margin: 10px auto 0;
}

/* line 37, ../../styles/style.sass */
.gallery-item {
  margin-bottom: 10px;
}
/* line 40, ../../styles/style.sass */
.gallery-item:not(:first-child) {
  margin-left: 10px;
}

/* line 43, ../../styles/style.sass */
.gallery-thumbnail {
  opacity: 0.5;
}
/* line 46, ../../styles/style.sass */
.gallery-thumbnail:hover {
  opacity: 0.7;
}

/* line 49, ../../styles/style.sass */
.gallery-original {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 94px;
  left: 0;
  z-index: -1;
  opacity: 0;
}

/* line 58, ../../styles/style.sass */
.gallery-item:target .gallery-thumbnail {
  opacity: 1;
  cursor: auto;
}
/* line 62, ../../styles/style.sass */
.gallery-item:target .gallery-original {
  z-index: 1;
  opacity: 1;
}
