/* line 15, ../../styles/style.sass */
body, ul, li {
  margin: 0;
  padding: 0;
}

/* line 19, ../../styles/style.sass */
img {
  border: 0;
}

/* line 23, ../../styles/style.sass */
.inline, .gallery {
  overflow: hidden;
  list-style: none;
}
/* line 27, ../../styles/style.sass */
.inline li, .gallery li {
  float: left;
}

/* line 31, ../../styles/style.sass */
.gallery {
  position: relative;
  width: 860px;
  height: 631.875px;
  margin: 10px auto 0;
}

/* line 38, ../../styles/style.sass */
.gallery-item {
  margin-bottom: 10px;
}
/* line 41, ../../styles/style.sass */
.gallery-item:not(:first-child) {
  margin-left: 10px;
}
/* line 45, ../../styles/style.sass */
.gallery-item:target .gallery-thumbnail {
  opacity: 1;
  cursor: auto;
}
/* line 49, ../../styles/style.sass */
.gallery-item:target .gallery-photo {
  z-index: 1;
  opacity: 1;
}

/* line 53, ../../styles/style.sass */
.gallery-thumbnail {
  opacity: 0.5;
}
/* line 56, ../../styles/style.sass */
.gallery-thumbnail:hover {
  opacity: 0.7;
}

/* line 59, ../../styles/style.sass */
.gallery-photo {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 94.375px;
  left: 0;
  opacity: 0;
}
